__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
node_modules/
*.map
static/css/main.css.map
media/
staticfiles/
.venv
venv/
.vscode
.idea/
.env
.DS_Store
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
