asgiref==3.11.0
black==26.1.0
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2025.6
cssbeautifier==1.15.4
dj-database-url==3.1.0
Django==6.0
django-crispy-forms==2.5
django-mathfilters==1.0.0
django-utils-six==2.0
djlint==1.36.4
EditorConfig==0.17.1
gunicorn==24.1.1
jsbeautifier==1.15.4
json5==0.12.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
pillow==12.0.0
platformdirs==4.5.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytokens==0.4.0
PyYAML==6.0.3
regex==2025.11.3
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.1
whitenoise==6.11.0
