<div class="c64-palette">
    <div class="color black" title="Black"></div>
    <div class="color white" title="White"></div>
    <div class="color red" title="Red"></div>
    <div class="color cyan" title="Cyan"></div>
    <div class="color purple" title="Purple"></div>
    <div class="color green" title="Green"></div>
    <div class="color blue" title="Blue"></div>
    <div class="color yellow" title="Yellow"></div>
    <div class="color orange" title="Orange"></div>
    <div class="color brown" title="Brown"></div>
    <div class="color light-red" title="Light Red"></div>
    <div class="color dark-grey" title="Dark Grey"></div>
    <div class="color grey" title="Grey"></div>
    <div class="color light-green" title="Light Green"></div>
    <div class="color light-blue" title="Light Blue"></div>
    <div class="color light-grey" title="Light Grey"></div>
</div>
