<div class="c64-palette d-flex flex-column align-items-start me-2">
    <div class="cell d-flex">
        <div class="c64-icon black" title="Black"></div>
        <div class="c64-icon white" title="White"></div>
        <div class="c64-icon cyan" title="Cyan"></div>
    </div>
    <div class="cell d-flex">
        <div class="c64-icon yellow" title="Yellow"></div>
        <div class="c64-icon blue" title="Blue"></div>
        <div class="c64-icon light-red" title="Light Red"></div>
    </div>
    <div class="cell d-flex">
        <div class="c64-icon purple" title="Purple"></div>
        <div class="c64-icon light-grey" title="Light Grey"></div>
        <div class="c64-icon light-green" title="Light Green"></div>
    </div>
</div>
