@use "sass:map";
@use "sass:list";

$breakpoints: (
  xxs: 0,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
);

$breakpoint-keys: xxs, xs, sm, md, lg, xl;

/*
breakpoint-up($size)
--------------------------------------------------------------------------
Usage:
  @include breakpoint-up(md) { ... }
What it does:
- Applies styles from the given breakpoint and up.

Example:
  @include breakpoint-up(lg) {
    padding: 32px;
  }
*/
@mixin breakpoint-up($size) {
  @if map.has-key($breakpoints, $size) {
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$size}";
  }
}

/*
breakpoint-only($size)
--------------------------------------------------------------------------
Usage:
  @include breakpoint-only(sm) { ... }

What it does:
- Applies styles ONLY within the given breakpoint range.

Ranges:
xxs-only - 
xs-only - < sm
sm-only - (sm - (md - 1px))
md-only - (md - (lg - 1px))
lg-only - (lg - (xl - 1px))
xl-only - (xl and up)

Example:
  @include breakpoint-only(xs) {
    font-size: 14px;
  }
*/
@mixin breakpoint-only($size) {
  @if not map.has-key($breakpoints, $size) {
    @error "Unknown breakpoint: #{$size}";
  }

  $index: list.index($breakpoint-keys, $size);

  @if $index == null {
    @error "Breakpoint not found in breakpoint list: #{$size}";
  }

  $min: map.get($breakpoints, $size);
  $max: null;

  @if $index < list.length($breakpoint-keys) {
    $next: list.nth($breakpoint-keys, $index + 1);
    $max: map.get($breakpoints, $next) - 1;
  }

  @if $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    // last breakpoint (xl-only)
    @media (min-width: $min) {
      @content;
    }
  }
}
