{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <section class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="headline__container d-flex flex-column justify-content-center align-items-center mt-4">
            <i class="fa fa-envelope fa-2x mb-3" aria-hidden="true"></i>
            <p class="text-center">
                We've emailed you instructions for setting your password.
                <br />
                Please check your email.
            </p>
        </div>
    </section>
{% endblock content %}
