{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <section class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="headline__container d-flex flex-column justify-content-center mt-4">
            <h1 class="headline fs-4 text text-center m-0">Password reset complete</h1>
            <hr>
            <p class="text-center">Your password has been set. You may proceed to login</p>
            <a href="{% url 'login' %}"
               class="btn btn-secondary align-self-center w-50 my-2">Login</a>
        </div>
    </section>
{% endblock content %}
