@use "../base/mixins" as mx;

.product-item {
  display: flex;
  gap: 16px;
  padding: 8px 0 24px 0;

  &__content {
    flex: 1;
    gap: 16px;

    @include mx.breakpoint-up(xs) {
      gap: 36px;
    }
  }

  &__title {
    font-size: 16px;
    text-wrap: balance;
    text-wrap: pretty;

    @include mx.breakpoint-up(xs) {
      font-size: 20px;
    }
  }

  &__price {
    font-weight: 500;
    margin-bottom: 0;
  }
}
