.qty-stepper {
  align-items: center;
  display: flex;
  margin-inline-end: 16px;
}

.qty-stepper input {
  width: 32px;
  text-align: center;
  border: none;
  background: transparent;
  color: #c7d7ff;
  color: inherit;
  line-height: 32px;
}

.qty-btn {
  background-color: transparent;
  border: 1px solid #a1bdff;
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  height: 32px;
  padding: 0;
  width: 32px;
}

/* Remove number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}
