.profile {
  margin-inline: 16px;

  h2 {
    font-size: 24px;
  }

  .headline__container {
    i {
      font-size: 24px;
      text-shadow:
        0 0 0 #a1bdff,
        0 0 0 #a1bdff;
    }
  }
}
