.form {
  .form-control {
    background-color: #a1bdff;
    color: #072459;
  }

  input {
    padding: 14px 12px;
  }
}

.form-text {
  color: inherit;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem #239ef0;
}
