@use "base/variables";
@use "base/mixins";
@use "base/base";

// Components
@use "components/c64-palette";
@use "components/cart-summary";
@use "components/hero";
@use "components/navbar";
@use "components/products-grid";
@use "components/product-item";
@use "components/qty-stepper";

// Pages
@use "pages/product-info";
@use "pages/registration";
@use "pages/email-verification";
@use "pages/dashboard";
@use "pages/profile";
@use "pages/shipping";
@use "pages/paypal-buttons";
@use "pages/track-orders";
